/* CSS RESET CODE */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
html,
body {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
a {
    color: black;
    text-decoration: none;
}
/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  html {
    scroll-behavior: initial;
  }
}

@font-face {
    font-family: norse-bold;
    src: url('Norse-Bold.otf') format('opentype');
}

body {
    background-color: black;
    padding: 5vh 5vw;
}   

.page {
    height: 90vh;
    background-color: rgb(13, 13, 50);
    border-radius: 5vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.banner {
    height: 100%;
    background-image:
    linear-gradient(to left, rgba(13,13,50,.5), rgba(13,13,50,1)),
    url('https://media.giphy.com/media/W5UoBN0YMdT1QP8Yfr/giphy.gif');
    background-size: cover;
}

.odin-logo {    
    height: 10vw;
    margin-top: 5vh;
    background-color: rgba(13,13,50,0.5);
    background-image: url(odin-lined.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 30%;
}

.odin-text {
    font-family: norse-bold;
    color: white;
    font-size: 7vw;
    position: relative;
    left: 50%;
}