/* CSS RESET CODE */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
html,
body {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
a {
    color: black;
    text-decoration: none;
}
/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  html {
    scroll-behavior: initial;
  }
}
/* Custom added initializations */
input:focus {
  outline: none;
}



@font-face {
    font-family: norse-bold;
    src: url('Norse-Bold.otf') format('opentype');
}

body {
    background-color: black;
    padding: 5vh 5vw;
}   

.page {
    height: 90vh;
    background-color: rgb(13, 13, 50);
    border-radius: 5vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.banner {
    height: 100%;
    background-image:
    linear-gradient(to left, rgba(13,13,50,.5), rgba(13,13,50,1)),
    url('https://media.giphy.com/media/W5UoBN0YMdT1QP8Yfr/giphy.gif');
    background-size: cover;
}

.odin-logo {    
    height: 10vw;
    margin-top: 15vh;
    background-color: rgba(13,13,50,0.5);
    background-image: url(odin-lined.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 30%;
}

.odin-text {
    font-family: norse-bold;
    color: white;
    font-size: 7vw;
    position: relative;
    left: 50%;
}

.content {
  max-height: 90vh;
  padding: 5vh;
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.disclaimer {
  color:white;
  font-size: 4vh;
  overflow: hidden;
}

form {
  color: white;
  font-size: 3vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

label {
  display: block;
}

label::after {
  font-size: 2vh;
  content: ' (required)';
}

input {
  height: 5vh;
  width: 20vw;  
  border: .5vh solid white;
  border-radius: 1vh;
}

input:focus {
  box-shadow: 0px 0px 5px #fff;   
}

input:valid {
  border-color: rgb(0, 192, 115);
}

form button {
  height: 8vh;
  width: 20vw;
  border: .5vh solid white;
  border-radius: 1vh;
  font-size: 4vh;
  background-color: rgb(13, 13, 50);
  color:white;
}

::placeholder {
  color: rgb(13, 13, 50);
  opacity: .35;
}

.warning {
  color: red;
}

::selection {
  background-color: rgb(0, 192, 115);
}